/.venv
/__pycache__
/build
/dist
/Compiling_venv
/Windows-64bit-intel
SteamDeckShellInstall.ini
test.py
test2.py
git_install.exe
test3.py
test4.py
/installerfiles
test5.py
test6.py
main.spec
shelltest.spec
shelltest.py
test36.py
test26.py
SteamDeckWindowsShell_installer.exe
make_venv.bat
load_venv.bat
